## 주식투자 

- 상한가 따라잡기(상따) : 강한 테마를 형성한 종목이나 좋은 재료가 있는 종목이 상한가에 진입할 때 과감히 추격 매수를 감행해 보유한 후 매도하는 전략
- 알고리즘 트레이딩(거래): 나만의 알고리즘(투자 노하우) 를 통해 
- 주식 시장이 개장되기 전날의 거래 패턴: 거래량, 종가, 시가, 주식 가격의 변동 폭

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(100)
data=np.random.randn(5,4)
df=pd.DataFrame(data,index='A B C D E'.split(),columns='가 나 다 라'.split())

In [3]:
df

          가         나         다         라
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [4]:
df['가']

A   -1.749765
B    0.981321
C   -0.189496
D   -0.583595
E   -0.531280
Name: 가, dtype: float64

In [5]:
df.loc[:,'가']

A   -1.749765
B    0.981321
C   -0.189496
D   -0.583595
E   -0.531280
Name: 가, dtype: float64

In [6]:
df['합']=df['가']+df['나']
df

          가         나         다         라         합
A -1.749765  0.342680  1.153036 -0.252436 -1.407085
B  0.981321  0.514219  0.221180 -1.070043  1.495540
C -0.189496  0.255001 -0.458027  0.435163  0.065506
D -0.583595  0.816847  0.672721 -0.104411  0.233252
E -0.531280  1.029733 -0.438136 -1.118318  0.498452

In [7]:
df.drop('합',axis=1,inplace=True) 
df

          가         나         다         라
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [8]:
df.drop('E', axis=0)  #row 삭제하기

          가         나         다         라
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411

In [9]:
df>0

       가     나      다      라
A  False  True   True  False
B   True  True   True  False
C  False  True  False   True
D  False  True   True  False
E  False  True  False  False

In [10]:
df[df>0]

          가         나         다         라
A       NaN  0.342680  1.153036       NaN
B  0.981321  0.514219  0.221180       NaN
C       NaN  0.255001       NaN  0.435163
D       NaN  0.816847  0.672721       NaN
E       NaN  1.029733       NaN       NaN

In [11]:
(df['가']<0)&(df['나']>0)

A     True
B    False
C     True
D     True
E     True
dtype: bool

In [12]:
df[(df['가']<0)&(df['나']>0)]

          가         나         다         라
A -1.749765  0.342680  1.153036 -0.252436
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [13]:
df[(df['가']<0)&(df['나']>0)]['라']

# 가 컬럼이 소형주 factor, PER 등 조건을 만족하는 것중 '라' 컬럼인것 이런거 찾을 때 사용

A   -0.252436
C    0.435163
D   -0.104411
E   -1.118318
Name: 라, dtype: float64

In [14]:
df.loc['A']['라']

-0.25243603652138985

In [15]:
df=pd.DataFrame(data,index='A B C D E'.split(),columns='가 나 다 라'.split())
df

          가         나         다         라
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [55]:
#오름차순
df['가rank']=df['가'].rank(  )
df

          가         나         다         라  가rank
A -1.749765  0.342680  1.153036 -0.252436    1.0
B  0.981321  0.514219  0.221180 -1.070043    5.0
C -0.189496  0.255001 -0.458027  0.435163    4.0
D -0.583595  0.816847  0.672721 -0.104411    2.0
E -0.531280  1.029733 -0.438136 -1.118318    3.0

In [56]:
#내림차순
df['나rank']=df['나'].rank(ascending=False)
df

          가         나         다         라  가rank  나rank
A -1.749765  0.342680  1.153036 -0.252436    1.0    4.0
B  0.981321  0.514219  0.221180 -1.070043    5.0    3.0
C -0.189496  0.255001 -0.458027  0.435163    4.0    5.0
D -0.583595  0.816847  0.672721 -0.104411    2.0    2.0
E -0.531280  1.029733 -0.438136 -1.118318    3.0    1.0

In [57]:
#토대로 정렬
df=df.sort_values(by='가rank')
df

          가         나         다         라  가rank  나rank
A -1.749765  0.342680  1.153036 -0.252436    1.0    4.0
D -0.583595  0.816847  0.672721 -0.104411    2.0    2.0
E -0.531280  1.029733 -0.438136 -1.118318    3.0    1.0
C -0.189496  0.255001 -0.458027  0.435163    4.0    5.0
B  0.981321  0.514219  0.221180 -1.070043    5.0    3.0