In [116]:
# setting

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [180]:
kospi = pd.read_excel('/workspace/AlgorithmTrading/1998-1999고슾히.xlsx', index_col=0)

In [181]:
fluctation = pd.read_excel('/workspace/AlgorithmTrading/1998-1999변동률.xlsx', index_col=0)

In [182]:
endprice = pd.read_excel('/workspace/AlgorithmTrading/1998-1999종가.xlsx', index_col=0)

In [183]:
#kospi, stock 분산
kosvar = kospi.var()[4]
flucvar = fluctation.var()

In [184]:
#kospi, stock 표준편차
kosstd = kospi.std()[4]
flucstd = fluctation.std()

In [293]:
kosfluc = kospi[['변동']]*100
#열이 1개인 데이터프레임 생성
beta = pd.DataFrame(columns=['beta'])

Empty DataFrame
Columns: [beta]
Index: []

In [294]:
#코스피의 공분산
koscov = kosfluc['변동'].cov(kosfluc['변동'])

In [296]:
#코스피와 1998-1999 베타를 계산하여 데이터프레임에 넣음
for (colname, colval) in fluctation.iteritems():
    beta.loc[colname]=[kosfluc['변동'].cov(fluctation[colname])/koscov]

In [298]:
beta

             beta
A000020  0.923194
A000040  0.709468
A000050  0.483967
A000060  1.170922
A000070  0.881619
...           ...
A700001       NaN
A700002       NaN
A700003       NaN
A900140       NaN
A950210       NaN

[1438 rows x 1 columns]

In [305]:
one = beta.pct_change(20)
three = beta.pct_change()
beta = beta['beta'].sort_values()

In [307]:
kospi

                종가      오픈       고가      저가      거래량      변동
날짜
1999-12-01  999.16  992.62  1007.29  984.38  294.84M  0.0025
1999-11-30  996.66  965.45  1009.19  964.44  339.00M  0.0336
1999-11-29  964.26  955.38   964.26  936.25  276.92M  0.0159
1999-11-26  949.16  977.77   978.85  945.78  310.88M -0.0242
1999-11-25  972.71  975.19   992.65  965.34  351.88M  0.0035
...            ...     ...      ...     ...      ...     ...
1998-12-05  490.71  469.63   496.13  469.63  180.55M  0.0523
1998-12-04  466.34  449.15   466.34  446.82  244.84M  0.0407
1998-12-03  448.11  447.87   455.66  447.87  206.90M  0.0039
1998-12-02  446.35  446.17   449.60  442.14  206.68M  0.0009
1998-12-01  445.96  451.85   451.85  438.42  191.71M -0.0131

[250 rows x 6 columns]